body {
    background-color: rgb(127, 229, 255);
    background-image: url("https://www.ppt-backgrounds.net/thumbs/blue-math-picture-powerpoint.gif");
    background-size: cover;      /* Scale the image to cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed;
}

#resultModal {
    background-image: url("https://i.pinimg.com/originals/83/04/a9/8304a9c7cce7981bf599b8c1d78bda7f.jpg");
    background-size:contain;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed;
}


#checkDiv {
    width: 100%;
    margin-top: 30px;
}

#checkInp {
    width: 100%;
    height: 60px;
    background-color: rgb(123, 95, 160);
    box-shadow: -7px 7px 7px 1px black;
    font-size: 30px;
    color: whitesmoke;
    font-weight: 900;
    border: none;
}

#checkInp:hover {
    box-shadow: 0px 0px 0px 0px black;
    transition: 0.2s;
    cursor: pointer;
}

#expression {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#expressInput {
    width: 150px;
    height: 150px;
    font-size: 75px;
    text-align: center;
}

#expressText {
    font-size: 150px;
    margin-right: 25px;
}

#answersCount {
    display: none;
    justify-content: space-around;
    font-size: 20px;
}

#rightAnswers {
    color: green;
}

#wrongAnswers {
    color: red;
}

#buttons {
    height: 95vh;
    width: 95vw;
}

#buttons div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.starterButtons {
    width: 500px;
    height: 70px;
    margin: 20px;
    cursor: pointer;
    border: none;
    background-color: #008DDA;
    font-size: 35px;
    box-shadow: 2px 2px 5px #000;
    font-family: "Oswald", sans-serif;
}

.starterButtons:hover {
    background-color: cornflowerblue;
    box-shadow: 0px 0px 0px #000;
    color: #fff;
}

#expressionField {
    font-family: "Oswald", sans-serif;
    height: 670px;
    display: none;
    justify-content: center;
    align-items: center;
}

#finalResult {
    width: 250px;
    height: 400px;
    background-color: #50f1bb;
    position: relative;
}

.modalPage {
    font-family: "Oswald", sans-serif;
    width: 28vw;
    height: 95vh;
    background: rgb(65,168,226);
    background: -moz-linear-gradient(65deg, rgba(65,168,226,1) 0%, rgba(0,70,218,1) 100%);
    background: -webkit-linear-gradient(65deg, rgba(65,168,226,1) 0%, rgba(0,70,218,1) 100%);
    background: linear-gradient(65deg, rgba(65,168,226,1) 0%, rgba(0,70,218,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#41a8e2",endColorstr="#0046da",GradientType=1);
    margin: auto;
    color: white;
    box-shadow: 10px 10px 15px rgb(32, 31, 31); 
}

.timerInp {
    width: 40px;
    height: 40px;
}

#timer {
    display: flex;
    justify-content: center;
    width: 100%;
}

#timer_setting {
    margin-bottom: 50px;
}

#timer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7EEDD;
    font-weight: bold;
    border-radius: 10px;
    width: 25%;
    height: 60px;
    box-shadow: 2px 2px 10px black;
    font-size: 30px;
}

.resultImages {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.resultInfos {
    font-size: 30px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settingsButtons {
    width:80px;
    height: 30px;
    background-color: rgb(95, 121, 160);
    border: none;
    box-shadow: -5px 5px 10px 1px black;
    font-weight: 800;
    color: whitesmoke;
    transition: 0.2s;
}

.settingsButtons:hover {
    box-shadow: 0px 0px 0px 0px black;
    background-color: rgb(43, 101, 226);
    transition: 0.2s;
    cursor: pointer;
}

#nameInp {
    height: 30px;
}

#nameInp:focus {
    border: none;
}

#start:hover {
    box-shadow: 0px 0px 0px 0px black;
    background-color: rgb(43, 101, 226);
    transition: 0.2s;
    cursor: pointer;
}

#homeButton {
    margin-right: 250px;
}

@media (max-width: 880px) {
    .modalPage {
        width: 80vw;
    }

    .resultInfos {
        margin-bottom: 20px;
    }

    #buttons {
        width: 95vw;
    }

    .starterButtons {
        width: 100%;
    }

    #resultModal {
        height: 80vh;
    }

    #nameResult {
        margin-bottom: 40px;
    }

    #homeButton {
        margin-right: 150px;
    }

    #expressText {
        font-size: 80px;
    }

    #expressInput {
        width: 70px;
        height: 70px;
        font-size: 50px;
    }
}


